<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEr-jOiIBWoo30qCMCaKTi6JMifiZ24pE</string>
	<key>GCM_SENDER_ID</key>
	<string>441612133038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sstation</string>
	<key>PROJECT_ID</key>
	<string>sstation-ac2ef</string>
	<key>STORAGE_BUCKET</key>
	<string>sstation-ac2ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441612133038:ios:e63a37159478ef8a2b433f</string>
</dict>
</plist>